@{
    ViewData["Title"] = "Home Page";
}
@model FlowStepsChain.NetCore.Sample.Samples.Services.ModuleOne.StepOne.Models.StepOneResponse


<div class="text-center">
    <h1 class="display-4">Example FlowStepsChain NetCore</h1>
    <p>
        <span>Id:</span> @Model.Id
    </p>

    <p>
        <span>Name:</span> @Model.Name
    </p>
    <p>
        <span>Age:</span> @Model.Age
    </p>
</div>
